.report-graph{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.budget-progress-label p,.budget-progress-title{
        color: #18223e;
}

.header-emoji{
    max-width: 24px;
    margin-top: -4px;
}